.btn-primary {
 background-color: #4B4B4B;
}
.btn-primary:hover,
.btn-primary:disabled,
.btn-primary:active {
 background-color: #4B4B4BAA !important;
}
.border-color {
 border-color: #858585 !important;
}
.react-tabs__tab {
 color: #4B4B4B !important;
}
.color-primary {
 color: #4B4B4B !important;
}
.users-count-label__right__arrow-left {
 border-right-color: #4B4B4B !important;
}
.users-count-label__left__arrow-right {
 border-left-color: #4B4B4B !important;
}
.users-count-label {
 background-color: #565656 !important;
}
.label-primary {
 background-color: #4B4B4B;
}
body {
 margin:0
}
main {
 display:block
}
h1 {
 font-size:2em;
 margin:.67em 0
}
hr {
 box-sizing:content-box;
 height:0;
 overflow:visible
}
pre {
 font-family:monospace,monospace;
 font-size:1em
}
a {
 background-color:transparent
}
abbr[title] {
 border-bottom:none;
 text-decoration:underline;
 -webkit-text-decoration:underline dotted;
 text-decoration:underline dotted
}
b,
strong {
 font-weight:bolder
}
code,
kbd,
samp {
 font-family:monospace,monospace;
 font-size:1em
}
small {
 font-size:80%
}
sub,
sup {
 font-size:75%;
 line-height:0;
 position:relative;
 vertical-align:baseline
}
sub {
 bottom:-.25em
}
sup {
 top:-.5em
}
img {
 border-style:none
}
button,
input,
optgroup,
select,
textarea {
 font-family:inherit;
 font-size:100%;
 line-height:1.15;
 margin:0
}
button,
input {
 overflow:visible
}
button,
select {
 text-transform:none
}
[type=button],
[type=reset],
[type=submit],
button {
 -webkit-appearance:button
}
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner,
button::-moz-focus-inner {
 border-style:none;
 padding:0
}
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring,
button:-moz-focusring {
 outline:1px dotted ButtonText
}
fieldset {
 padding:.35em .75em .625em
}
legend {
 box-sizing:border-box;
 color:inherit;
 display:table;
 max-width:100%;
 padding:0;
 white-space:normal
}
progress {
 vertical-align:baseline
}
textarea {
 overflow:auto
}
[type=checkbox],
[type=radio] {
 box-sizing:border-box;
 padding:0
}
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
 height:auto
}
[type=search] {
 -webkit-appearance:textfield;
 outline-offset:-2px
}
[type=search]::-webkit-search-decoration {
 -webkit-appearance:none
}
::-webkit-file-upload-button {
 -webkit-appearance:button;
 font:inherit
}
details {
 display:block
}
summary {
 display:list-item
}
[hidden],
template {
 display:none
}
@font-face {
 font-family:Al-Jazeera-Light;
 src:url(/fonts/Al-Jazeera-Arabic-Light.ttf?96ece0adb2d663734c1143a04e45aeee)
}
@font-face {
 font-family:Al-Jazeera-Regular;
 src:url(/fonts/Al-Jazeera-Arabic-Regular.ttf?e55b32cdf8eb35dea0fdbebca965d752)
}
.container {
 padding:0
}
.navbar-laravel {
 background-color:#fefffc;
 box-shadow:0 2px 4px rgba(0,0,0,.04)
}
.alert {
 z-index:1
}
.clear {
 clear:both
}
.fr {
 float:right
}
.fl {
 float:left
}
.corner {
 border-radius:.208rem
}
.border {
 border:1px solid #000!important
}
.radius {
 border-radius:3px
}
.ellipsis {
 white-space:nowrap;
 overflow:hidden;
 text-overflow:ellipsis;
 max-width:80%
}
.btn {
 font-size:.625rem;
 padding:0 .4em;
 outline:none;
 font-weight:700
}
.btn:focus {
 outline:none;
 box-shadow:none
}
.btn-default {
 color:#333
}
.btn-primary,
.label-primary {
 background:#3c6297;
 color:#fff
}
.buttonload {
 font-size:.7rem
}
.buttonload .fa {
 float:right;
 margin-top:.3em;
 display:none
}
.buttonload:disabled .fa {
 display:block
}
.badge {
 display:inline-block;
 min-width:10px;
 padding:.1em .5em;
 font-size:12px;
 font-weight:700;
 line-height:1;
 color:#fff;
 white-space:nowrap;
 vertical-align:middle;
 background-color:#777;
 border-radius:10px;
 margin-top:-.9em;
 border:1px solid #000
}
.badge,
.jscolor {
 text-align:center
}
.jscolor {
 font-size:.6rem;
 width:25%;
 outline:none;
 border:1px solid #fff;
 border-radius:5px;
 height:20px;
 font-family:sans-serif!important
}
.form-control {
 padding:.1em .4em;
 font-size:.6rem;
 height:auto
}
.form-control:active,
.form-control:focus {
 box-shadow:none;
 border:1px solid #6495ed
}
.label {
 font-size:.65rem;
 padding:.2em .4em;
 margin-bottom:.2em;
 border-radius:0
}
.ReactModal__Overlay {
 z-index:10000
}
.yt-btn {
 background-color:#ddd;
 width:65%;
 max-width:200px;
 display:block;
 margin:0 auto;
 cursor:pointer
}
.brder-tl {
 border-top-left-radius:1.3em!important
}
.modal-backdrop {
 width:1500vh;
 height:1500vh
}
.brder-tr {
 border-top-right-radius:1.3em!important
}
.brder-bl {
 border-bottom-left-radius:1.3em!important
}
.brder-br {
 border-bottom-right-radius:1.3em!important
}
#login {
 width:100%;
 max-width:390px;
 height:100vh;
 margin:0 auto;
 border:1px solid #000;
 border-radius:.2rem;
 background-color:#fefffc;
 position:relative
}
#online_users {
 height:calc(100vh - 15.7rem);
 overflow:auto
}
#online_users .chat_pane__user_item {
 border-left:none
}
#login-header {
 border-top-left-radius:.13rem;
 border-top-right-radius:.13rem;
 margin:0;
 position:relative
}
.login-header__label {
 width:100%;
 padding:0;
 border-radius:0;
 text-align:left
}
.login-header__title {
 color:#fff;
 padding:0 .2rem;
 display:inline-block;
 font-size:.625rem
}
.login-header__refresh {
 width:1.2rem;
 height:1.2rem;
 text-align:center;
 font-size:.6rem;
 line-height:1.1rem;
 position:absolute;
 top:.1rem;
 right:.1rem;
 border-radius:.2rem
}
.login-header__refresh:before {
 top:0;
 position:absolute;
 left:.6em
}
.login-banner__img {
 width:100%;
 max-height:4rem
}
#login-btn-holder {
 margin-top:.2rem;
 margin-bottom:.2rem;
 padding:.01rem;
 text-align:center
}
.login-btn-holder__btn {
 font-size:.583rem;
 padding:0 .3em;
 margin-right:.3em;
 border:.05em solid #aaa;
 border-radius:1rem;
 width:23%;
 height:1.125rem
}
.react-tabs {
 margin-top:-.16rem
}
.react-tabs__tab-list {
 margin-bottom:0
}
.react-tabs__tab,
.react-tabs__tab-list {
 text-align:center;
 background-color:#f5f5f5
}
.react-tabs__tab {
 width:30%;
 font-size:.625rem;
 border-bottom:1px solid #dee2e6
}
.react-tabs__tab a,
.react-tabs__tab a.active {
 color:#337ab8;
 background-color:inherit!important;
 border:none!important;
 margin:0;
 padding:.9em 0;
 font-size:.625rem;
 border-bottom-color:#dee2e6;
 border-bottom-style:solid;
 border-bottom-size:2px
}
.react-tabs__tab--selected {
 background:#fefffc;
 border:1px solid #dee2e6;
 border-bottom-color:transparent!important;
 border-bottom-size:0!important
}
.react-tabs__tab-panel {
 padding:.3rem .3rem 0
}
.tabs-form-error {
 font-size:.6rem;
 padding:.1em .1em .2em;
 text-align:center;
 margin:0
}
#tabs-content {
 padding:.4rem .4rem 0
}
#guest-form__name {
 width:50%;
 height:24px;
 margin-bottom:.2rem;
 font-size:.625rem;
 padding:0 .5em;
 text-align:left;
 color:#333;
 margin-right:.1rem
}
#guest-form__submit,
#login-form__submit,
#register-form__submit {
 margin-bottom:.1rem;
 font-size:.625rem;
 border:1px solid #bbb;
 box-shadow:none;
 outline:none
}
#login-form__submit {
 margin-right:.2rem
}
#login-form__name,
#login-form__password,
#register-form__name,
#register-form__password {
 width:50%;
 height:24px;
 text-align:left;
 color:#333;
 font-size:.625rem
}
#login-form__name,
#register-form__name {
 display:block
}
#login-form__password,
#register-form__password {
 margin-right:.15rem
}
#login-form__hidden-label {
 font-size:.6rem;
 margin-left:.2rem
}
#connection_container {
 display:inline-block;
 float:left
}
#connection_container #connection-state-off,
#connection_container #connection-state-on {
 position:relative;
 font-size:.625rem;
 background-color:#e0392d;
 color:#fff;
 padding:.2em .4em;
 border-radius:0 .6em .6em 0;
 left:0;
 z-index:10
}
#connection_container #connection-state-on {
 background-color:#5cb85c
}
.users-count-label {
 position:relative
}
.users-count-label p {
 font-size:.583rem
}
.label-count {
 margin:0;
 background:#3c6297;
 color:#fff!important;
 font-size:.7rem;
 text-align:center
}
.label-count .fa {
 font-size:.7rem;
 padding:.1em .5em;
 background-color:#5cb85c;
 border-color:#4cae4c;
 margin-right:.2em
}
.label-count .count {
 margin-left:.2rem
}
#chat {
 background:#fefffc;
 border-bottom-right-radius:15px;
 padding-bottom:1.6rem;
 height:100vh
}
#chat,
#chat__body {
 max-width:100%;
 position:relative
}
#chat__body {
 height:100%
}
.modal-header {
 position:relative;
 padding:.1rem;
 width:100%
}
.modal-header .close {
 font-size:.7rem;
 position:absolute;
 top:.2em;
 right:.2em;
 padding:.4em;
 margin:0;
 line-height:.7;
 background:#fff;
 color:#000
}
.modal-header .modal-title {
 width:100%
}
.modal-header .modal-title p {
 margin:0
}
.modal-body {
 padding:.2rem;
 width:340px;
 max-width:100%
}
.popup {
 min-width:180px;
 max-width:260px;
 border:1px solid #000;
 z-index:2000;
 background-color:#efefef;
 position:absolute;
 top:30%;
 padding:5px;
 border-radius:5px
}
.popup p {
 margin-bottom:.4em
}
.popup__title {
 font-size:.6rem;
 text-align:center;
 margin:-14px auto 0;
 width:50%;
 border:1px solid #000;
 border-radius:5px;
 line-height:1.6
}
.popup__sender {
 width:100%
}
.popup__sender__avatar {
 border-radius:5px;
 margin-right:.1em
}
.popup__sender__icon {
 margin:5px 2px 0 0
}
.popup__sender__name {
 margin:.2em 0;
 font-size:.6rem;
 font-weight:700;
 padding:.15em 0 0;
 max-width:80%;
 color:#000
}
.popup__message {
 font-size:.6rem;
 font-weight:700;
 margin-top:.2em;
 width:100%;
 padding:0 .2em;
 word-break:break-word
}
.popup__message__body {
 padding-top:.2rem
}
#chat__body__messages_container {
 height:calc(100vh - 3rem);
 overflow:auto;
 max-width:100%
}
.public_message {
 position:relative;
 background:#fff;
 border:1px solid #e6e6fa;
 padding:.1rem .05rem;
 margin:0 .05rem -1px
}
.public_message.linen {
 background-color:linen
}
.public_message.greeting {
 background-color:#faf0e8;
 padding:.3em;
 color:#000!important
}
.public_message.public_message_ad {
 background-color:#d0e7ff
}
.public_message__avatar {
 float:left;
 margin:0;
 cursor:pointer
}
.public_message__avatar img {
 border:1px solid #dedbdb;
 padding:1px
}
.public_message__ad_title {
 color:#00f
}
.public_message__ad_title .fa {
 margin:0 .2rem
}
.public_message__title__icon {
 margin:1px 2px 0 0
}
.public_message__content,
.public_message__title {
 font-size:.625rem;
 font-weight:700;
 padding:0 .2em 0 2.8em;
 direction:rtl;
 margin:0;
 word-wrap:break-word
}
.public_message__content {
 margin:.2em 0 0
}
.public_message_ad .public_message__content {
 color:#00f
}
.public_message__time {
 font-size:.55rem;
 color:#888;
 position:absolute;
 top:.1em;
 right:.1em
}
.public_message__remove {
 font-size:.4rem;
 position:absolute;
 bottom:.2em;
 right:.1em
}
#chat__body__message-input {
 position:absolute;
 bottom:0;
 left:0;
 right:0;
 height:1.4rem;
 text-align:center;
 background-color:#fefffc;
 padding-top:.15em
}
#chat__body__message-input #main-footer-top-mic {
 display:none
}
.chat__body__message-input__face {
 width:22px;
 cursor:pointer;
 vertical-align:middle;
 margin:0 .1rem
}
.chat__body__message-input__leave_room {
 font-size:.55rem
}
.chat__body__message-input__input {
 width:calc(100% - 5rem);
 margin:0 .2rem 0 .1rem;
 vertical-align:middle;
 padding:.1em .3em;
 vertical-align:bottom;
 border-radius:5px;
 border:1px solid #ccc;
 direction:rtl;
 text-align:left
}
#chat__body__message-input.has-mic #main-footer-top-mic {
 display:inline
}
#chat__body__message-input.has-mic .chat__body__message-input__input {
 width:calc(100% - 6.5rem)
}
.chat__body__message-input__input:focus {
 border:1px solid #000
}
.chat__body__message-input__input:disabled {
 background-color:#ccc
}
.chat__body__message-input__submit {
 vertical-align:middle;
 font-size:.6rem
}
.chat_pane {
 position:absolute;
 top:0;
 right:0;
 bottom:.18rem;
 width:85%;
 max-width:290px;
 border:1px solid #000;
 border-radius:10px 0 0 0;
 z-index:1;
 display:none
}
.chat_pane__container {
 height:calc(100% - .2rem);
 overflow:auto;
 margin:0!important
}
#chat__body__ignored-users-pane {
 background:#fefffc;
 height:100%
}
#chat__body__ignored-users-pane .chat_pane__container {
 height:calc(100% - 2.35rem)
}
.chat__body__ignored-users-pane__back {
 margin-bottom:0
}
#chat__body__notifications-pane {
 background:#fefffc;
 height:100%
}
#chat__body__notifications-pane .chat_pane__container {
 height:calc(100% - 2.35rem)
}
.chat__body__notifications-pane__back {
 margin-bottom:0
}
.notification {
 min-width:180px;
 max-width:260px;
 border:1px solid #000;
 z-index:2000;
 background-color:#efefef;
 position:relative;
 padding:5px;
 border-radius:5px;
 margin:.7rem auto 0
}
.notification p {
 margin-bottom:.4em
}
.notification__title {
 font-size:.6rem;
 text-align:center;
 margin:-14px auto 0;
 width:50%;
 border:1px solid #000;
 border-radius:5px;
 line-height:1.6
}
.notification__sender {
 width:100%
}
.notification__sender__avatar {
 border-radius:5px;
 margin-right:.1em
}
.notification__sender__icon {
 margin:5px 2px 0 0
}
.notification__sender__name {
 margin:.2em 0;
 font-size:.6rem;
 font-weight:700;
 padding:.15em 0 0;
 max-width:80%;
 color:#000;
 display:inline-block
}
.notification__message {
 font-size:.6rem;
 font-weight:700;
 margin-top:.2em;
 width:100%;
 padding:0 .2em;
 word-break:break-word
}
.notification__message__body {
 padding-top:.2rem
}
.notification__time {
 position:absolute;
 top:.2rem;
 right:.2rem;
 font-size:.5rem
}
#chat__body__users-pane {
 background:#fefffc;
 z-index:2;
 height:100%
}
#chat__body__users-pane .chat_pane__container {
 height:calc(100% - 2.4rem)
}
.chat_pane__search {
 font-size:.6rem;
 font-weight:700;
 padding:.1em .3em;
 direction:rtl;
 text-align:left;
 border:1px solid #ccc;
 border-radius:0
}
.chat_pane__search:focus {
 border:1px solid #3c6297;
 box-shadow:none
}
.chat_pane__label {
 font-size:.55rem;
 font-weight:700;
 text-align:center;
 line-height:2;
 margin:0;
 direction:rtl
}
.chat_pane__user_item {
 position:relative;
 background:#fff;
 border:1px solid #e6e6fa;
 padding:0 .05rem;
 cursor:pointer;
 margin:0 .05rem -1px
}
.chat_pane__user_item.active,
.chat_pane__user_item:hover {
 background:#eaeafb
}
.chat_pane__user_item.hidden {
 opacity:.4;
 background-color:#ddd
}
.chat_pane__user_item__avatar {
 float:left;
 margin:.07rem 0 0
}
.chat_pane__user_item__avatar img {
 border:1px solid #dedbdb;
 padding:0
}
.chat_pane__user_item__avatar .status {
 position:absolute;
 left:0;
 top:0;
 width:10px;
 height:10px;
 border-radius:50%
}
.chat_pane__user_item__avatar .status.state_active {
 background-color:#58c827
}
.chat_pane__user_item__avatar .status.state_no_private {
 background-color:red
}
.chat_pane__user_item__avatar .status.state_idle {
 background-color:orange
}
.chat_pane__user_item__flag {
 position:absolute;
 top:.05em;
 right:.05em
}
.chat_pane__user_item__name,
.chat_pane__user_item__status {
 font-size:.55rem;
 font-weight:700;
 padding:0 .2em 0 2.9em;
 direction:rtl;
 margin:.1rem 0 0
}
.chat_pane__user_item__status {
 font-size:.583rem;
 color:#888;
 width:100%;
 margin-top:.15rem
}
.chat_pane__user_item__mic_status {
 margin-bottom:0
}
.chat_pane__user_item__mic_status img {
 width:20px;
 margin-left:5px;
 display:none
}
.chat_pane__user_item__mic_status.on-mic img.mic {
 display:inline
}
.chat_pane__user_item__mic_status.on-mic img.hand {
 display:none
}
.chat_pane__user_item__mic_status.on-hand img.hand {
 display:inline
}
.chat_pane__user_item__mic_status.on-hand img.mic {
 display:none
}
.chat_pane__user_item__mic_status.on-sound-off img.sound-off {
 display:inline
}
.chat_pane__user_item__mic_status .mic-time {
 padding-left:5px;
 float:right;
 margin-right:5px;
 padding-top:3px;
 font-size:.6rem
}
.username__wrapper {
 padding:0 .6em;
 border-radius:.125rem;
 font-size:.625rem
}
.username__icon {
 margin:1px 2px 0 0
}
#user_profile {
 font-size:.7rem;
 height:auto
}
.user_profile__scroll_area {
 height:auto;
 overflow:auto;
 max-height:91vh
}
.user_profile__header__avatar {
 float:left;
 border-radius:.2em;
 margin-right:.2em
}
.user_profile__header__name {
 font-size:.6rem
}
.user_profile__header__close {
 position:absolute;
 right:.05em;
 top:.05em
}
.user_profile__body__avatar {
 height:200px;
 display:block;
 margin:0 auto
}
.user_profile__body__ip {
 text-align:center;
 font-size:.6rem;
 padding:.1em .2em;
 margin:.2em auto;
 width:8em;
 border-radius:.4em
}
.user_profile__body__status {
 text-align:center;
 margin-bottom:.4rem
}
.user_profile__body__country_name {
 font-size:.55rem;
 font-weight:700
}
.user_profile__body__room {
 float:right;
 font-size:.6rem
}
.user_profile__footer {
 padding:.3em
}
.user_profile__footer__actions {
 text-align:center;
 margin:0 auto;
 width:100%
}
.user_profile__footer__actions__item {
 margin:2px;
 width:32%;
 display:inline-block
}
.user_profile__footer__actions__item .btn {
 border:1px solid #e6e6fa;
 border-radius:.4em;
 width:100%;
 font-weight:700;
 font-size:.6rem;
 padding:.2em 0;
 background:#fefffc
}
.user_profile__footer__actions__item .btn.red {
 color:red
}
.user_profile__footer__actions__item .btn.blue {
 color:#00f
}
.user_profile__footer__actions__item .btn.maroon {
 color:maroon
}
.user_profile__footer__actions__item .btn.magenta {
 color:#d313ff
}
.user_profile__footer__actions__item .btn.purple {
 color:purple
}
.user_profile__footer__actions__item #user_profile__footer__actions__item--unignore,
.user_profile__footer__actions__item #user_profile__footer__actions__item--unmute {
 display:none
}
.user_profile__footer__actions__item #user_profile__footer__actions__item--ignore,
.user_profile__footer__actions__item #user_profile__footer__actions__item--mute,
.user_profile__footer__actions__item.ignored #user_profile__footer__actions__item--unignore {
 display:inline
}
.user_profile__footer__actions__item.ignored #user_profile__footer__actions__item--ignore {
 display:none
}
.user_profile__footer__actions__item.muted #user_profile__footer__actions__item--unmute {
 display:inline
}
.user_profile__footer__actions__item.muted #user_profile__footer__actions__item--mute {
 display:none
}
.user_profile__footer__actions__item.active button {
 background:#dc3545;
 color:#fff!important
}
.user_profile__footer__actions__item_group {
 border:1px solid #000;
 margin-top:5px;
 padding:.2em;
 font-size:.6rem
}
.user_profile__footer__actions__item_group__label {
 margin:0;
 padding:.6em;
 border-radius:.2em;
 width:19%;
 font-size:.6rem
}
.user_profile__footer__actions__item_group__input {
 vertical-align:middle;
 padding:.2em;
 width:63%
}
select.user_profile__footer__actions__item_group__input {
 height:2em
}
.user_profile__footer__actions__item_group__input:active,
.user_profile__footer__actions__item_group__input:focus {
 border:1px solid #000
}
.user_profile__footer__actions__item_group__submit {
 padding:.1em .4em;
 border-radius:.2em;
 border:none;
 box-shadow:none;
 width:18%
}
.user_profile__footer__actions__item_group__submit:active,
.user_profile__footer__actions__item_group__submit:focus {
 border:none;
 box-shadow:none
}
#wall_comments {
 font-size:.7rem;
 height:auto
}
.wall_comments__scroll_area {
 height:auto;
 overflow:auto;
 max-height:40vh;
 min-height:30vh
}
.wall_comments__header__avatar {
 float:left;
 border-radius:.2em;
 margin-right:.2em
}
.wall_comments__header__name {
 font-size:.6rem
}
.wall_comments__header__close {
 position:absolute;
 right:.05em;
 top:.05em
}
.wall_comments__body__avatar {
 height:200px;
 display:block;
 margin:0 auto
}
.wall_comments__body__ip {
 text-align:center;
 font-size:.6rem;
 padding:.1em .2em;
 margin:.2em auto;
 width:8em;
 border-radius:.4em
}
.wall_comments__body__status {
 text-align:center;
 margin-bottom:.4rem
}
.wall_comments__body__country_name {
 font-size:.55rem;
 font-weight:700
}
.wall_comments__body__room {
 float:right;
 font-size:.6rem
}
.wall_comments__body__room .chat_pane__room_item--inline {
 font-size:.7rem!important
}
.wall_comments__footer {
 padding:.3em
}
.wall_comments__footer__actions {
 text-align:center;
 margin:0 auto;
 width:100%
}
.wall_comments__footer__actions__item {
 margin:2px;
 width:32%;
 display:inline-block
}
.wall_comments__footer__actions__item .btn {
 border:1px solid #e6e6fa;
 border-radius:.4em;
 width:100%;
 font-weight:700;
 font-size:.6rem;
 padding:.2em 0;
 background:#fefffc
}
.wall_comments__footer__actions__item .btn.red {
 color:red
}
.wall_comments__footer__actions__item .btn.blue {
 color:#00f
}
.wall_comments__footer__actions__item .btn.maroon {
 color:maroon
}
.wall_comments__footer__actions__item .btn.magenta {
 color:#d313ff
}
.wall_comments__footer__actions__item .btn.purple {
 color:purple
}
.wall_comments__footer__actions__item .btn.green {
 color:#58c827
}
.wall_comments__footer__actions__item.active button {
 background:#dc3545;
 color:#fff!important
}
.wall_comments__footer__actions__item_group {
 border:1px solid #000;
 margin-top:5px;
 padding:.2em;
 font-size:.6rem
}
.wall_comments__footer__actions__item_group__label {
 margin:0;
 padding:.6em;
 border-radius:.2em;
 width:18%;
 font-size:.6rem
}
.wall_comments__footer__actions__item_group__input {
 vertical-align:middle;
 padding:.2em;
 width:64%
}
select.wall_comments__footer__actions__item_group__input {
 height:2em
}
.wall_comments__footer__actions__item_group__input:active,
.wall_comments__footer__actions__item_group__input:focus {
 border:1px solid #000
}
.wall_comments__footer__actions__item_group__submit {
 padding:.1em .4em;
 border-radius:.2em;
 border:none;
 box-shadow:none;
 width:18%
}
.wall_comments__footer__actions__item_group__submit:active,
.wall_comments__footer__actions__item_group__submit:focus {
 border:none;
 box-shadow:none
}
.wall_comments__form {
 text-align:center;
 height:28px;
 padding-top:.15em;
 padding-bottom:1.4rem;
 position:relative
}
.wall_comments__form__attach {
 margin-right:.2em;
 font-size:.55rem
}
.wall_comments__form__face {
 margin-right:.2em;
 cursor:pointer
}
.wall_comments__form__input {
 width:calc(100% - 4.5rem);
 margin-right:.2em;
 vertical-align:middle;
 height:1.1rem;
 text-align:left
}
.wall_comments__form__input:active,
.wall_comments__form__input:focus {
 border:1px solid #000
}
.wall_comments__comment {
 position:relative;
 background:#fff;
 border:1px solid #e6e6fa;
 padding:.1rem .05rem;
 margin:0 .05rem -1px
}
.wall_comments__comment__avatar {
 float:left;
 margin:0;
 cursor:pointer
}
.wall_comments__comment__avatar img {
 border-radius:50%;
 border-width:1px!important;
 padding:1px
}
.wall_comments__comment__content,
.wall_comments__comment__title {
 font-size:.55rem;
 font-weight:700;
 padding:0 .2em 0 2.8em;
 direction:rtl;
 margin:0;
 max-width:93%;
 word-wrap:break-word
}
.wall_comments__comment__title .username__wrapper {
 font-size:.55rem;
 padding:0
}
.wall_comments__comment__content {
 color:#000;
 margin:.2em 0
}
.wall_comments__comment__like,
.wall_comments__comment__remove {
 position:absolute;
 bottom:0;
 right:0;
 padding:0 2px;
 font-size:60%;
 font-weight:700
}
.wall_comments__comment__remove {
 right:1.1rem
}
.wall_comments__comment__time {
 font-size:.45rem;
 color:#000;
 position:absolute;
 top:.1em;
 right:.1em
}
.reveal_names__header {
 margin-bottom:.2rem
}
.reveal_names_body {
 height:65vh;
 overflow:auto
}
.reveal_names__item {
 background-color:#f0f8ff;
 padding:2px;
 margin-bottom:5px;
 border:1px solid #000;
 word-break:break-word
}
.reveal_names__item p {
 margin-bottom:2px
}
.reveal_names__item__key {
 background-color:#789;
 color:#fff;
 padding:2px 5px;
 border-radius:3px;
 width:60px;
 text-align:center;
 display:inline-block;
 margin-right:5px
}
.reveal_names__item__value {
 word-break:break-all
}
#chat__body__conversations_pane {
 background:#fefffc;
 height:100%
}
#chat__body__conversations_pane .chat_pane__container {
 height:calc(100% - 1.3rem)
}
.conversations_item {
 position:relative;
 background:#fff;
 border:1px solid #e6e6fa;
 margin:0 .05rem;
 cursor:pointer
}
.conversations_item.unread {
 background-color:linen
}
.conversations_item.state_active {
 border-left:3px solid #58c827
}
.conversations_item.state_no_private {
 border-left:3px solid red
}
.conversations_item.state_idle {
 border-left:3px solid orange
}
.conversations_item__avatar {
 float:left;
 margin:0
}
.conversations_item__last_message,
.conversations_item__name {
 font-size:.55rem;
 font-weight:700;
 padding:0 .2em 0 .1em;
 direction:rtl;
 margin:0
}
.conversations_item__last_message {
 font-size:.55rem;
 color:#888
}
.conversations_item__holder {
 padding:.1rem .05rem;
 width:9.4rem;
 border:1px solid #000
}
.conversations_item__remove {
 font-size:.55rem;
 font-weight:700;
 border:1px solid #000;
 border-radius:4px
}
.room_modal {
 font-size:.7rem;
 height:auto
}
.room_modal .modal-dialog {
 max-width:342px
}
.room_modal__header__name {
 font-size:.6rem;
 padding-left:.2rem
}
.room_modal__header__close {
 position:absolute;
 right:.05em;
 top:.05em
}
.room_modal__body input {
 width:100%;
 height:1.2rem;
 margin-bottom:.3rem
}
.room_modal__body input[type=checkbox] {
 width:auto
}
.room_modal__body label {
 font-size:.55rem;
 vertical-align:middle;
 margin-left:.3rem;
 font-weight:700
}
.room_modal__body .alert {
 font-size:.7rem;
 padding:.2rem;
 text-align:center;
 margin-bottom:.4rem
}
.room_modal__footer {
 padding:.1rem
}
#chat__body__rooms_pane {
 background:#fefffc;
 z-index:2;
 height:100%
}
#chat__body__rooms_pane .chat_pane__container {
 height:calc(100% - 2.35rem)
}
.chat_pane__room_item {
 position:relative;
 background:#fff;
 border:1px solid #e6e6fa;
 padding:.2rem .05rem;
 cursor:pointer;
 margin:0 .05rem -1px
}
.chat_pane__room_item .chat_pane__room_item__name img {
 display:none
}
.chat_pane__room_item.locked .chat_pane__room_item__name img {
 display:inline
}
.chat_pane__room_item.active,
.chat_pane__room_item:hover {
 background:#eaeafb
}
.chat_pane__room_item--inline {
 border-radius:5px;
 cursor:pointer;
 font-size:.625rem;
 padding:.166rem;
 max-width:180px;
 min-width:60px
}
.chat_pane__room_item__flag {
 float:left;
 margin:0
}
.chat_pane__room_item__description,
.chat_pane__room_item__name {
 font-size:.6rem;
 font-weight:700;
 padding:0 .2em 0 2.8em;
 direction:rtl;
 margin:0
}
.chat_pane__room_item__name {
 direction:ltr
}
.chat_pane__room_item__description {
 color:#888
}
.chat_pane__room_item__users {
 position:absolute;
 font-size:.6rem;
 font-weight:700;
 padding:.2em;
 border-radius:.2em;
 top:.2em;
 right:.2em
}
#chat__body__wall_pane {
 background:#fefffc;
 z-index:2;
 height:100%;
 border-bottom-width:2px
}
#chat__body__wall_pane .chat_pane__container {
 height:calc(100% - 2.65rem);
 border-bottom-width:2px!important
}
.chat__body__wall_pane__form {
 text-align:center;
 height:28px;
 padding-top:.05em;
 position:relative;
 margin-top:.1rem
}
.chat__body__wall_pane__form__attach {
 margin-right:.2em;
 font-size:.55rem
}
.chat__body__wall_pane__form__loading_percent {
 display:none;
 position:absolute;
 text-align:center;
 font-size:.5rem;
 top:.35rem;
 left:.5rem
}
.chat__body__wall_pane__form__face {
 margin-right:.2em;
 cursor:pointer
}
.chat__body__wall_pane__form__input {
 width:calc(100% - 5rem);
 margin-right:.2em;
 vertical-align:middle;
 text-align:left
}
.chat__body__wall_pane__form__input:active,
.chat__body__wall_pane__form__input:focus {
 border:1px solid #000
}
.chat__body__wall_pane__form__send {
 font-size:.55rem;
 font-weight:700
}
.chat_pane__container__banner {
 font-size:.6rem;
 font-weight:700;
 background:linen;
 color:#a72a2a;
 text-align:center;
 padding:.6em .2em
}
.chat_pane__container__banner p {
 margin:0
}
.wall_post {
 position:relative;
 font-size:.65rem;
 background:#fafafa;
 margin-bottom:.4em;
 border-bottom:1px solid #ccc
}
.wall_post__time {
 font-size:.55rem;
 color:#888;
 position:absolute;
 top:0;
 right:.4em
}
.wall_post__name {
 font-size:.55rem;
 font-weight:700;
 padding:.5em .2em 0 3em;
 direction:rtl
}
.wall_post__avatar {
 float:left;
 margin:0 0 .1em
}
.wall_post__name {
 margin:0
}
.wall_post__body {
 font-size:.6rem;
 text-align:center;
 padding:.2em;
 margin:0 0 .2em;
 font-weight:700;
 word-wrap:break-word
}
.wall_post__body__comments,
.wall_post__body__like,
.wall_post__body__remove {
 bottom:0;
 padding:0 2px;
 font-size:80%;
 font-weight:700
}
.wall_post__body__like {
 right:0
}
.wall_post__body__comments {
 right:1.2rem
}
.wall_post__body__remove {
 left:0
}
.wall_post__body--photo {
 padding:.1em;
 border:1px solid #ccc;
 cursor:pointer
}
.wall_post__body--photo,
.wall_post__body--sound {
 max-width:100%;
 max-height:100px
}
.wall_post__body--video {
 max-width:100%;
 max-height:150px
}
.wall_post__body--youtube {
 max-width:100%;
 max-height:100px
}
.wall_post__footer {
 border-top:1px solid #ccc;
 padding:.2em
}
.wall_post__footer .btn {
 margin-right:.2em;
 font-size:.4rem;
 font-weight:700;
 margin-bottom:.2em
}
#chat__body__settings_pane {
 background:#fefffc;
 font-size:.7rem;
 z-index:2;
 height:100%;
 border-width:2px
}
.chat__body__settings_pane__container {
 padding:.2em;
 height:calc(100% - 1.4rem);
 overflow-y:auto;
 overflow-x:hidden
}
.chat__body__settings_pane__container select {
 height:25px!important
}
.chat__body__settings_pane__container__rm_bg_color {
 padding:0 .2em
}
.chat__body__settings_pane__container__submit {
 margin-top:-1.2rem
}
.chat__body__settings_pane__container__button {
 cursor:pointer;
 text-align:center;
 padding-top:.3em;
 border:1px solid #000;
 margin-top:3px;
 height:32px;
 line-height:25px;
 font-weight:700;
 position:relative;
 margin-bottom:.2rem
}
.chat__body__settings_pane__container__button .toggle_notifications,
.chat__body__settings_pane__container__button .toggle_private,
.chat__body__settings_pane__container__button .toggle_star {
 display:none
}
.chat__body__settings_pane__container__button .toggle_notifications.toggle_notifications--active,
.chat__body__settings_pane__container__button .toggle_private.toggle_private--active,
.chat__body__settings_pane__container__button .toggle_star.toggle_star--active {
 display:inline
}
.chat__body__settings_pane__container__button .fa {
 position:absolute;
 left:.4em;
 line-height:25px;
 color:#000;
 font-size:.7rem
}
.chat__body__settings_pane__container__button .fa img {
 border-radius:3px;
 margin-top:-.2rem
}
.chat__body__settings_pane__container__button.info {
 background:#d877ff;
 color:#fff
}
.chat__body__settings_pane__container__button.warning {
 background:orange;
 color:#fff
}
.chat__body__settings_pane__container__button.danger {
 background:#d9534f;
 color:#fff
}
.chat__body__settings_pane__container__button.success {
 background:#28a745;
 color:#fff
}
.chat__body__settings_pane__container__button:hover {
 background-color:#eee;
 color:#000
}
.chat__body__settings_pane__container__button.disabled {
 background-color:#ddd;
 cursor:no-drop
}
#chat__body__settings_pane__container__button--change_avatar .avatar {
 display:inline
}
#chat__body__settings_pane__container__button--change_avatar.disabled .avatar,
#chat__body__settings_pane__container__button--change_avatar .loader {
 display:none
}
#chat__body__settings_pane__container__button--change_avatar.disabled .loader {
 display:inline
}
.chat_pane__header {
 position:relative;
 background:#3c6297;
 height:1.3rem;
 border-radius:10px 0 0 0;
 margin-bottom:0
}
.chat_pane__header__title {
 font-size:.7rem;
 padding:.1em .5em;
 color:#fff!important
}
.chat_pane__header__close {
 position:absolute;
 top:2px;
 right:2px
}
#chat__footer {
 position:absolute;
 bottom:0;
 left:0;
 right:0;
 height:1.5rem;
 max-width:100%;
 background-color:#e9e9e9
}
#chat__footer__menu {
 max-width:100%;
 list-style:none;
 margin:.1em 0 0;
 font-size:.6rem;
 padding:.15rem .05em
}
.chat__footer__menu__item {
 border:1px solid #000;
 border-radius:2px;
 margin:1px;
 float:left;
 padding:5px 6px;
 color:#fff;
 white-space:nowrap;
 vertical-align:baseline;
 max-width:100%;
 cursor:pointer
}
.chat__footer__menu__item .unread {
 background-color:#e9991f
}
.chat__footer__menu__item .fa {
 display:inline-block;
 text-rendering:auto;
 -webkit-font-smoothing:antialiased;
 text-align:left
}
.chat__footer__menu__item.unread {
 background-color:orange
}
#chat__footer__menu__wall_item .count {
 display:none
}
#chat__footer__menu__wall_item.unread .count {
 display:inline-block
}
@media screen and (max-width:420px) {
 #chat__footer__menu {
  font-size:.55rem
 }
}
@media screen and (max-width:350px) {
 #chat__footer__menu {
  font-size:.5rem
 }
}
@media screen and (max-width:320px) {
 #chat__footer__menu {
  font-size:.48rem
 }
}
.gifts_picker {
 margin-bottom:5px
}
.gifts_picker__contianer {
 text-align:center;
 height:145px;
 overflow:auto;
 margin-bottom:5px
}
.gifts_picker__contianer__img {
 height:25px;
 margin:2px;
 padding:2px;
 border:1px solid #ccc;
 border-radius:2px;
 cursor:pointer
}
.gifts_picker__contianer__img:hover {
 border:1px solid #000
}
.gifts_picker__contianer__clear,
.gifts_picker__contianer__close {
 font-weight:700;
 font-size:.6rem
}
#chat_box {
 position:absolute;
 top:0;
 left:0;
 width:97%;
 max-width:500px;
 height:50%;
 min-height:180px;
 max-height:500px;
 border:1px solid #000;
 border-radius:0 3px 5px 5px;
 background-color:#4a5261;
 z-index:1
}
#chat_box #chat_box__header__compress,
#chat_box #chat_box__header__unmute {
 display:none
}
#chat_box #chat_box__header__expand,
#chat_box #chat_box__header__mute {
 display:inline-block
}
#chat_box.expanded {
 height:78%
}
#chat_box.expanded #chat_box__header__compress {
 display:inline-block
}
#chat_box.expanded #chat_box__header__expand,
#chat_box.muted #chat_box__header__mute {
 display:none
}
#chat_box.muted #chat_box__header__unmute {
 display:inline-block
}
.chat_box__header {
 padding:.1em;
 height:30px
}
.chat_box__header .btn {
 font-size:.6rem
}
.chat_box__header__avatar {
 border-radius:.2rem;
 margin-right:.1rem
}
.chat_box__header__name {
 display:inline-block;
 margin:0;
 font-size:.6rem;
 vertical-align:middle
}
.chat_box__body {
 height:calc(100% - 62px);
 background:#fefffc;
 overflow:auto
}
.chat_box__footer {
 height:32px;
 background:#ededed;
 border-radius:0 3px 5px 5px;
 text-align:center;
 border-top:1px solid #000
}
.chat_box__footer button {
 margin-right:.2em;
 margin-top:2px
}
.chat_box__footer form #chat_box__footer__loader,
.chat_box__footer form #chat_box__footer__loading_percent {
 display:none
}
.chat_box__footer form #chat_box__footer__share {
 display:inline-block
}
.chat_box__footer form.loading #chat_box__footer__loader,
.chat_box__footer form.loading #chat_box__footer__loading_percent {
 display:inline
}
.chat_box__footer form.loading #chat_box__footer__share {
 display:none
}
#chat_box__footer__loading_percent {
 position:absolute;
 text-align:center;
 font-size:.5rem;
 top:.4rem;
 left:.35rem
}
.chat_box__footer__smile {
 margin-right:.2em;
 margin-top:2px
}
.chat_box__footer__input {
 width:calc(100% - 150px);
 margin-right:.2em;
 vertical-align:middle;
 height:24px;
 margin-top:1px;
 text-align:left
}
#chat_box__footer__stop_recording {
 display:none
}
.private_message {
 position:relative;
 background:#fff;
 border:1px solid #e6e6fa;
 margin:0 .05rem;
 padding:.1rem .05rem
}
.private_message__avatar {
 float:left;
 margin:0;
 cursor:pointer
}
.private_message__title__icon {
 margin:1px 2px 0 0
}
.private_message__body,
.private_message__title {
 font-size:.6rem;
 font-weight:700;
 padding:0 .2em 0 2.4em;
 direction:rtl;
 margin:0;
 word-wrap:break-word
}
.private_message__body {
 color:#888;
 margin:.2em 0 0
}
.private_message__body__media {
 max-width:80%;
 display:block;
 margin:.2rem auto
}
.private_message__body__image {
 border:1px solid #ccc;
 padding:2px;
 border-radius:5px;
 cursor:pointer;
 max-height:150px
}
.private_message__time {
 font-size:.55rem;
 color:#888;
 position:absolute;
 top:.1em;
 right:.1em
}
.emoji_picker {
 position:absolute;
 max-width:250px;
 max-height:200px;
 overflow:auto;
 background:#fefffc;
 z-index:4;
 padding:2px;
 border:1px solid #999;
 border-radius:5px;
 text-align:center;
 bottom:0;
 left:0
}
.emoji_picker.public_messages {
 left:.1rem;
 bottom:1.5rem
}
.emoji_picker.private_messages {
 left:.1rem;
 bottom:1.6rem
}
.emoji_picker.wall {
 left:.1rem;
 bottom:1.4rem;
 height:200px
}
.emoji_picker.wall-comments {
 left:.1rem;
 bottom:1.5rem;
 height:200px
}
.emoji_picker__item {
 padding:2px;
 cursor:pointer
}
.pswp__top-bar {
 z-index:100000!important
}
.pswp__button--custom {
 color:#fff;
 background:none
}
.pswp__button--remove {
 color:red
}
.pswp__button--add {
 color:#58c827
}
.lazy-loader {
 position:absolute;
 width:100vw;
 height:100vh;
 min-height:100%;
 min-width:100%;
 z-index:100000;
 top:0;
 left:0;
 bottom:0;
 right:0
}
.lazy-loader img {
 position:absolute;
 top:50%;
 left:50%;
 margin:-20px 0 0 -20px
}
#floating_particles .floating_particles__item {
 z-index:1000000;
 bottom:0;
 right:0;
 position:absolute;
 opacity:.6
}
#tv_box {
 min-width:280px;
 max-width:280px;
 z-index:2000;
 position:absolute;
 top:20%;
 padding:0;
 right:0;
 border-radius:5px;
 margin-right:20px
}
#tv_box header {
 margin-bottom:0;
 padding:.2rem
}
#tv_box__title {
 font-size:.6rem;
 line-height:1.6
}
#tv_box__close,
#tv_box__list {
 position:absolute;
 right:0;
 top:0;
 font-size:.6rem
}
#tv_box__list {
 right:1.1rem
}
#tv_box__body {
 width:280px;
 height:211px;
 background:url(/images/tv_bg.png)
}
#tv_box__body iframe {
 width:100%;
 height:161px;
 background-color:#000;
 padding-left:12px;
 padding-right:13px;
 padding-top:14px
}
#radio-container img {
 display:none;
 width:100%
}
#radio-container img.active {
 display:inline
}
#call-dialog {
 position:absolute;
 width:270px;
 top:50px;
 left:50px;
 padding:10px;
 border:1px solid #000;
 background-color:#708090;
 display:none;
 z-index:1000000
}
#call-dialog p {
 margin:0;
 padding:2px
}
#call-dialog button.btn i {
 margin-right:5px
}
#call-dialog .target-user-name {
 background-color:#fff;
 margin-bottom:3px;
 border-radius:3px
}
#call-dialog .target-user-avatar {
 max-width:90%;
 display:block;
 margin:0 auto;
 border:1px solid #aaa;
 padding:2px;
 border-radius:5px
}
#call-dialog .call-status {
 text-align:center;
 color:orange;
 direction:rtl;
 padding:3px 0
}
#call-dialog .call-status.warning {
 color:orange
}
#call-dialog .call-status.danger {
 color:#d9534f
}
#call-dialog .call-status.success {
 color:#5cb85c
}
#call-dialog__status_start_call {
 display:none
}
.marquee {
 font-size:.6rem;
 padding:.3rem .2rem;
 margin-top:.1rem
}
* {
 font-family:serif;
 font-weight:700;
 text-shadow:none!important
}
html {
 font-size:24px
}
body {
 line-height:1;
 max-width:100%;
 color:#333
}
input {
 font-size:.6rem;
 padding:0 .5em;
 border:.04em solid #bbb;
 outline:none
}
input:active,
input:focus {
 border:1px solid #aaa
}
button.btn {
 padding:0 .208rem
}
#app {
 max-width:100%;
 overflow:hidden
}
